{%load static%}

<header class="header-area transparent">
  <div class="container">
    <div class="row no-gutter align-items-center position-relative">
      <div class="col-12">
        <div class="header-align">
          <div class="header-align-start">
            <div class="header-logo-area">
              <a href="{%url 'home' %}">
                <img class="logo-main" src="{%static 'assets/img/logo-light.png' %}" alt="Logo" />
                <img class="logo-light" src="{%static 'assets/img/logo-light.png' %}" alt="Logo" />
              </a>
            </div>
          </div>
          <div class="header-align-center">
            <div class="header-navigation-area position-relative">
              <ul class="main-menu nav">
                <li><a href="{%url 'home' %}"><span>Home</span></a></li>
                <li><a href="{%url 'jobs' %}"><span>Jobs</span></a></li>
                <!-- <li class="has-submenu"><a href=""><span>Find Jobs</span></a>
                  <ul class="submenu-nav">

                    <li><a href="job-details.html"><span>Job Details</span></a></li>
                  </ul>
                </li> -->
                <li><a href="candidate.html"><span>Candidates</span></a></li>
                <!-- <li><a href="employers-details.html"><span>Employers Details</span></a></li> -->
                <!-- <li class="has-submenu"><a href=""><span>Candidates</span></a>
                  <ul class="submenu-nav">
                   
                    <li><a href="candidate-details.html"><span>Candidate Details</span></a></li>
                  </ul>
                </li> -->
                <!-- <li class="has-submenu"><a href=""><span>Blog</span></a>
                  <ul class="submenu-nav">
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog.html">Blog Left Sidebar</a></li>
                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li> -->
                <li><a href="{%url 'about' %}"><span>About us</span></a></li>
                <!-- <li class="has-submenu"><a href=""><span>Pages</span></a>
                  <ul class="submenu-nav">
                    <li><a href=""><span>Registration</span></a></li>
                    <li><a href=""><span>Page Not Found</span></a></li>
                  </ul>
                </li> -->
                <li><a href="{%url 'contact' %}"><span>Contact</span></a></li>
                {%if request.user.is_authenticated%}
                <li><a href="{%url 'logout' %}"><span>Logout</span></a></li>
                {%if request.user.profile.role == 'Client' %}
                <div class="header-align-end">
                  <div class="header-action-area">
                    <a class="btn-registration" href=""><span>+</span>Post Job</a>
                    <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                      <i class="icofont-navigation-menu"></i>
                    </button>
                  </div>
                </div>
                {%else%}
                <div class="header-align-end">
                  <div class="header-action-area">
                    <a class="btn-registration" href=""><span>+</span>Apply for Job</a>
                    <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                      <i class="icofont-navigation-menu"></i>
                    </button>
                  </div>
                </div>
                {%endif%}
                {%else%}
                <li><a href="{%url 'login' %}"><span>Login</span></a></li>
                <div class="header-align-end">
                  <div class="header-action-area">
                    <a class="btn-registration" href="{%url 'register' %}"><span>+</span> Register</a>
                    <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                      <i class="icofont-navigation-menu"></i>
                    </button>
                  </div>
                </div>
                {%endif%}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>