{%extends 'base.html'%}
{%load static%}
{%block body%}
  
  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <h2 class="title">Candidate Details</h2>
              <nav class="breadcrumb-area">
                <ul class="breadcrumb justify-content-center">
                  <li><a href="{%url 'home' %}">Home</a></li>
                  <li class="breadcrumb-sep">//</li>
                  <li>Candidate Details</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Team Details Area Wrapper ==-->
    <section class="team-details-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="team-details-wrap">
              <div class="team-details-info">
                <div class="thumb">
                  {%if candidate.owner.profile_pic%}
                  <img src="{{candidate.owner.profile_pic.url}}" width="130" height="130" alt="">
                  {%endif%}
                </div>
                <div class="content">
                  {%if candidate.owner.full_name%}
                  <h4 class="title">{{candidate.owner.full_name}}</h4>
                  {%else%}
                  <h4 class="title">{{candidate.owner.owner.username}}</h4>
                  {%endif %}
                  {%if candidate.owner.full_name%}
                  <h5 class="sub-title">{{candidate.headline}}</h5>
                  {%endif %}
                  <ul class="info-list">
                    <li><i class="icofont-location-pin"></i>{{candidate.owner.location}}</li>
                  </ul>
                </div>
              </div>
              <div class="team-details-btn">
                <a href="{%url 'contract' candidate.owner.owner.username %}" class="btn-theme btn-light">Short List</a>
                <a class="btn-theme" href="{{ candidate.resume.url}}" download>Resume</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-xl-8">
            <div class="team-details-item">
              <div class="content">
                <h4 class="title">About Candidate</h4>
                <p class="desc">{{candidate.owner.about}}</p>
              </div>                                             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Team Details Area Wrapper ==-->
  </main>

{%endblock%}             