{%extends 'base.html'%}
{%load static%}
{%block body%}

<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">Candidates</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="{%url 'home' %}">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Candidates</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Team Area Wrapper ==-->
  <section class="team-area team-inner2-area">
    <div class="container">
      <div class="row">
        {%for candidate in candidates%}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <!--== Start Team Item ==-->
          <div class="team-item">
            <div class="thumb">
              <a href="">
                {%if candidate.owner.profile_pic%}
                <img src="{{candidate.owner.profile_pic.url}}" width="160" height="160" alt="">
                {%endif%}
              </a>
            </div>
            <div class="content">
              {%if candidate.owner.full_name%}
              <h4 class="title"><a href="">{{candidate.owner.full_name}}</a></h4>
              {%else%}
              <h4 class="title"><a href="">{{candidate.owner.owner.username}}</a></h4>
              {%endif%}
              <h5 class="sub-title">{{candidate.headline}}</h5>
              <div class="rating-box">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
              </div>
              <p class="desc">{{candidate.owner.about}}</p>
              <a class="btn-theme btn-white btn-sm" href="{%url 'candidate' candidate.owner.owner.username%}">View Profile</a>
            </div>
            <div class="bookmark-icon"><img src="{%static 'assets/img/icons/bookmark1.png' %}" alt="Image-HasTech">
            </div>
            <div class="bookmark-icon-hover"><img src="{%static 'assets/img/icons/bookmark2.png' %}"
                alt="Image-HasTech"></div>
          </div>
          <!--== End Team Item ==-->
        </div>
        {%endfor%}
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="pagination-area">
            <nav>
              <ul class="page-numbers d-inline-flex">
                <li>
                  <a class="page-number active" href="">1</a>
                </li>
                <li>
                  <a class="page-number" href="">2</a>
                </li>
                <li>
                  <a class="page-number" href="">3</a>
                </li>
                <li>
                  <a class="page-number next" href="">
                    <i class="icofont-long-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Team Area Wrapper ==-->
</main>

{%endblock%}