{%extends 'base.html'%}
{%load static%}
{%block body%}

<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
            <div class=" pt-5 mt-5 text-center">
                <form action="" method="POST">
                    {%csrf_token%}
                    <h4 class="text-light">Are you sure you want to close <span class="">the "{{obj}}" job? </span>
                        This action cannot be undone.
                    </h4>
                    <div class="mt-5 mb-5 pt-5 pb-5">
                        <a class='me-2 btn-theme' href="{{request.META.HTTP_REFERER}}">Go Back
                        </a>
                        <input type="submit"class='btn-theme text-light' 
                            style="background-color: rgb(255, 96, 0); border-color: rgb(255, 96, 0); "
                            value="Confirm">
                    </div>

                </form>
            </div>
        </div>
      </div>
    </div>
  </div>

  {%endblock%}