{%extends 'base.html' %}
{%load static%}

{%block body%}

  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="home-slider-container default-slider-container">
        <div class="home-slider-wrapper slider-default">
          <div class="slider-content-area" data-bg-img="{%static 'assets/img/slider/slider-bg.jpg' %}">
            <div class="container pt--0 pb--0">
              <div class="slider-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-lg-8">
                    <div class="slider-content">
                      <h2 class="title"><span class="counter" data-counterup-delay="80">168</span> job available <br>Offer services and earn cash</h2>
                      <p class="desc">Access a wide variety of jobs</p>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="job-search-wrap">
                      <div class="job-search-form">
                        <form action="{%url 'search' %}" method="GET">
                          <div class="row ">
                            <div class="col-lg-auto flex-grow-1">
                              <div class="form-group">
                                <input type="text" name='query' class="form-control" placeholder="Job title or keywords">
                              </div>
                            </div>
                            <div class="col-lg-auto col-sm-6 col-2 flex-grow-1 ms-1">
                              <div class="form-group">
                                <button type="submit" class="btn-form-search"><i class="icofont-search-1"></i></button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-slider-shape">
        <img class="shape1" data-aos="fade-down" data-aos-duration="1500" src="{%static 'assets/img/slider/vector1.png' %}" width="270" height="234" alt="Image-HasTech">
        <img class="shape2" data-aos="fade-left" data-aos-duration="2000" src="{%static 'assets/img/slider/vector2.png' %}" width="201" height="346" alt="Image-HasTech">
        <img class="shape3" data-aos="fade-right" data-aos-duration="2000" src="{%static 'assets/img/slider/vector3.png' %}" width="276" height="432" alt="Image-HasTech">
        <img class="shape4" data-aos="flip-left" data-aos-duration="1500" src="{%static 'assets/img/slider/vector4.png' %}" width="127" height="121" alt="Image-HasTech">
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->
    
    <!--== Start Recent Job Area Wrapper ==-->
    <section class="recent-job-area bg-color-gray">
      <div class="container" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title">Recent Job Circulars</h3>
              <div class="desc">
                <p>Recently added jobs</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {%for job in jobs %}
          <div class="col-md-6 col-lg-4">
            <!--== Start Recent Job Item ==-->
            <div class="recent-job-item">
              <div class="company-info">
                <div class="logo">
                  {%if job.recruiter.profile_pic%}
                  <a href=""><img src="{{job.recruiter.profile_pic.url}}" width="75" height="75" alt=""></a>
                  {%endif%}
                </div>
                <div class="content">
                  <h4 class="name"><a href="{%url 'employer' job.recruiter.owner.username %}">
                    {%if job.recruiter.full_name%}
                    {{job.recruiter.full_name|capfirst}}</a></h4>
                    {%else%}
                    {{job.recruiter.owner.username |capfirst}}</a></h4>
                    {%endif%}
                  <p class="address">{{job.location}}</p>
                </div>
              </div>
              <div class="main-content">
                <h3 class="title"><a href="{%url 'job' job.title %}">{{job.title |capfirst}}</a></h3>
                <h5 class="work-type">Posted {{job.date_posted| timesince}} ago</h5>
              </div>
              <div class="recent-job-info">
                <div class="salary">
                  <h4>Ksh.{{job.pay}}</h4>
                  <p>/day</p>
                </div>
                {%if request.user.profile.role == 'Client' %}
                <div></div>
                {%else%}
                <a class="btn-theme btn-sm" href="{%url 'apply' job.id%}">Apply Now</a>
                {%endif%}
              </div>
            </div>
            <!--== End Recent Job Item ==-->
          </div>
          {%endfor%}
        </div>
      </div>
    </section>
    <!--== End Recent Job Area Wrapper ==-->

    <!--== Start Work Process Area Wrapper ==-->
    <section class="work-process-area">
      <div class="container" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center" >
              <h3 class="title">How It Works?</h3>
              <div class="desc">
                <p>Process of gettign a job</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="working-process-content-wrap">
              <div class="working-col">
                <!--== Start Work Process ==-->
                <div class="working-process-item">
                  <div class="icon-box">
                    <div class="inner">
                      <img class="icon-img" src="{%static '' %}assets/img/icons/w1.png" alt="">
                      <img class="icon-hover" src="{%static '' %}assets/img/icons/w1-hover.png" alt="">
                    </div>
                  </div>
                  <div class="content">
                    <h4 class="title">Create an Account</h4>
                    <p class="desc">Signup as  to post jobs  or apply for them.</p>
                  </div>
                  <div class="shape-arrow-icon">
                    <img class="shape-icon" src="{%static '' %}assets/img/icons/right-arrow.png" alt="">
                    <img class="shape-icon-hover" src="{%static '' %}assets/img/icons/right-arrow2.png" alt="">
                  </div>
                </div>
                <!--== End Work Process ==-->
              </div>
              <div class="working-col">
                <!--== Start Work Process ==-->
                <div class="working-process-item">
                  <div class="icon-box">
                    <div class="inner">
                      <img class="icon-img" src="{%static '' %}assets/img/icons/w2.png" alt="">
                      <img class="icon-hover" src="{%static '' %}assets/img/icons/w2-hover.png" alt="">
                    </div>
                  </div>
                  <div class="content">
                    <h4 class="title">CV/Resume</h4>
                    <p class="desc">Upload your resume to make it available to employers</p>
                  </div>
                  <div class="shape-arrow-icon">
                    <img class="shape-icon" src="{%static '' %}assets/img/icons/right-arrow.png" alt="">
                    <img class="shape-icon-hover" src="{%static '' %}assets/img/icons/right-arrow2.png" alt="">
                  </div>
                </div>
                <!--== End Work Process ==-->
              </div>
              <div class="working-col">
                <!--== Start Work Process ==-->
                <div class="working-process-item">
                  <div class="icon-box">
                    <div class="inner">
                      <img class="icon-img" src="{%static 'assets/img/icons/w3.png' %}" alt="">
                      <img class="icon-hover" src="{%static 'assets/img/icons/w3-hover.png' %}" alt="">
                    </div>
                  </div>
                  <div class="content">
                    <h4 class="title">Find Your Job</h4>
                    <p class="desc">Check out a variety of jobs and details about who posted it.</p>
                  </div>
                  <div class="shape-arrow-icon">
                    <img class="shape-icon" src="{%static 'assets/img/icons/right-arrow.png' %}" alt="">
                    <img class="shape-icon-hover" src="{%static 'assets/img/icons/right-arrow2.png' %}" alt="">
                  </div>
                </div>
                <!--== End Work Process ==-->
              </div>
              <div class="working-col">
                <!--== Start Work Process ==-->
                <div class="working-process-item">
                  <div class="icon-box">
                    <div class="inner">
                      <img class="icon-img" src="{%static 'assets/img/icons/w4.png' %}" alt="">
                      <img class="icon-hover" src="{%static 'assets/img/icons/w4-hover.png' %}" alt="">
                    </div>
                  </div>
                  <div class="content">
                    <h4 class="title">Apply</h4>
                    <p class="desc">Easily send an application by clicking one button.</p>
                  </div>
                  <div class="shape-arrow-icon d-none">
                    <img class="shape-icon" src="{%static 'assets/img/icons/right-arrow.png' %}" alt="">
                    <img class="shape-icon-hover" src="{%static 'assets/img/icons/right-arrow2.png' %}" alt="">
                  </div>
                </div>
                <!--== End Work Process ==-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Work Process Area Wrapper ==-->

    <!--== Start Divider Area Wrapper ==-->
    <section class="sec-overlay sec-overlay-theme bg-img">
      <div class="container pt--0 pb--0">
        <div class="row justify-content-center divider-style1">
          <div class="col-lg-10 col-xl-7">
            <div class="divider-content text-center">
              <h4 class="sub-title" data-aos="fade-down">Trial Version Available</h4>
              <h2 class="title" data-aos="fade-down">Download Our Mobile App. <br> For Better Mobile Experince</h2>
              <div class="divider-btn-group">
                <a class="btn-divider" data-aos="fade-down" href="{%url 'page-404' %}">
                  <img src="{%static 'assets/img/photos/google-play.png' %}" width="201" height="63" class="icon" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-layer-style1"></div>
      <div class="bg-layer-style2"></div>
    </section>
    <!--== End Divider Area Wrapper ==-->

    <!--== Start Testimonial Area Wrapper ==-->
    <section class="testimonial-area bg-color-gray">
      <div class="container" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center" data-aos="fade-down">
              <h3 class="title">Our Happy Clients</h3>
              <div class="desc">
                <p>Check reviews from some of our clients</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" data-aos="fade-down">
            <div class="swiper testi-slider-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <!--== Start Testimonial Item ==-->
                  <div class="testimonial-item testimonial-style2-item">
                    <div class="testi-inner-content">
                      <div class="testi-author">
                        <div class="testi-thumb">
                          <img src="{%static 'assets/img/testimonial/1.jpg' %}" width="75" height="75" alt="Image-HasTech">
                        </div>
                        <div class="testi-info">
                          <h4 class="name">Roselia Msungu</h4>
                          <span class="designation">Client</span>
                        </div>
                      </div>
                      <div class="testi-content">
                        <p class="desc">
                          I found Msarendo through a Google search and I'm so glad I did. I was looking to improve my resume, 
                          and the company had an extensive list of services they provided. 
                        </p>
                        <div class="rating-box">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                        </div>
                        <div class="testi-quote"><img src="{%static 'assets/img/icons/quote1.png' %}" alt="Image-HasTech"></div>
                      </div>
                    </div>
                  </div>
                  <!--== End Testimonial Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Testimonial Item ==-->
                  <div class="testimonial-item testimonial-style2-item">
                    <div class="testi-inner-content">
                      <div class="testi-author">
                        <div class="testi-thumb">
                          <img src="{%static 'assets/img/testimonial/2.jpg' %}" width="75" height="75" alt="Image-HasTech">
                        </div>
                        <div class="testi-info">
                          <h4 class="name">Assunta Mwangi</h4>
                          <span class="designation">Client</span>
                        </div>
                      </div>
                      <div class="testi-content">
                        <p class="desc">
                          They also handled everything very quickly and professionally. 
                          They have currently helped me snag an interview with a major company in the area, and it wouldn't have
                        </p>
                        <div class="rating-box">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                        </div>
                        <div class="testi-quote"><img src="{%static 'assets/img/icons/quote1.png' %}" alt="Image-HasTech"></div>
                      </div>
                    </div>
                  </div>
                  <!--== End Testimonial Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Testimonial Item ==-->
                  <div class="testimonial-item testimonial-style2-item">
                    <div class="testi-inner-content">
                      <div class="testi-author">
                        <div class="testi-thumb">
                          <img src="{%static 'assets/img/testimonial/3.jpg' %}" width="75" height="75" alt="Image-HasTech">
                        </div>
                        <div class="testi-info">
                          <h4 class="name">Amira Hassan</h4>
                          <span class="designation">Client</span>
                        </div>
                      </div>
                      <div class="testi-content">
                        <p class="desc">Msarendo is the best recruitment site for casual workers. I have been using it for over two years and am always on
                           the lookout for opportunities to make some extra money in my spare time. 
                        </p>
                        <div class="rating-box">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                        </div>
                        <div class="testi-quote"><img src="{%static 'assets/img/icons/quote1.png' %}" alt="Image-HasTech"></div>
                      </div>
                    </div>
                  </div>
                  <!--== End Testimonial Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Testimonial Item ==-->
                  <div class="testimonial-item testimonial-style2-item">
                    <div class="testi-inner-content">
                      <div class="testi-author">
                        <div class="testi-thumb">
                          <img src="{%static 'assets/img/testimonial/4.jpg' %}" width="75" height="75" alt="Image-HasTech">
                        </div>
                        <div class="testi-info">
                          <h4 class="name">Joshua Kasuku</h4>
                          <span class="designation">Client</span>
                        </div>
                      </div>
                      <div class="testi-content">
                        <p class="desc">
                          I also like how it provides you with the specific skills and experience of people who have applied without 
                          having to click on them first. Thanks to this, it only took me 10
                        </p>
                        <div class="rating-box">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                        </div>
                        <div class="testi-quote"><img src="{%static 'assets/img/icons/quote1.png' %}" alt="Image-HasTech"></div>
                      </div>
                    </div>
                  </div>
                  <!--== End Testimonial Item ==-->
                </div>
                <div class="swiper-slide">
                  <!--== Start Testimonial Item ==-->
                  <div class="testimonial-item testimonial-style2-item">
                    <div class="testi-inner-content">
                      <div class="testi-author">
                        <div class="testi-thumb">
                          <img src="{%static 'assets/img/testimonial/5.jpg' %} " width="75" height="75" alt="Image-HasTech">
                        </div>
                        <div class="testi-info">
                          <h4 class="name">Rosie Gitau</h4>
                          <span class="designation">Client</span>
                        </div>
                      </div>
                      <div class="testi-content">
                        <p class="desc">
                          I have been using casual recruitment sites for a while now and I can say that Msarendo is the best one around. 
                          It has the most listings and offers a great interface to browse through. 
                        </p>
                        <div class="rating-box">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                        </div>
                        <div class="testi-quote"><img src="{%static 'assets/img/icons/quote1.png' %} " alt="Image-HasTech"></div>
                      </div>
                    </div>
                  </div>
                  <!--== End Testimonial Item ==-->
                </div>
              </div>

              <!--== Add Swiper Pagination ==-->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Testimonial Area Wrapper ==-->

  </main>

{%endblock%}
