{%extends 'base.html'%}
{%load static%}
{%block body%}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">Jobs</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="index.html">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Job</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->

  <!--== Start Recent Job Area Wrapper ==-->
  <section class="recent-job-area recent-job-inner-area">
    <div class="container">

      <div class="row">
        {%for job in jobs%}
        <div class="col-md-6 col-lg-4">
          <!--== Start Recent Job Item ==-->
          <div class="recent-job-item recent-job-style2-item">
            <div class="company-info">
              <div class="logo">
                <a href="">
                  <img src="{{job.recruiter.profile_pic.url}}" width="75" height="75" alt=""></a>
              </div>
              <div class="content">
                <h4 class="name"><a href="{%url 'employer' job.recruiter.owner.username %}">
                  {{job.recruiter.full_name |capfirst}}</a>
                </h4>
                <p class="address">{{job.location}}</p>
              </div>
            </div>
            <div class="main-content">
              <h3 class="title"><a href="{%url 'job' job.title%}">{{job.title | capfirst}}</a></h3>
              <h5 class="work-type">Posted {{job.date_posted| timesince}} ago</h5>
            </div>
            <div class="recent-job-info">
              <div class="salary">
                <h4>Ksh.{{job.pay}}</h4>
                <p>/day</p>
              </div>
              <a class="btn-theme btn-sm" href="{%url 'job' job.title%}">Apply Now</a>
            </div>
          </div>
          <!--== End Recent Job Item ==-->
        </div>
        {%endfor%}
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="pagination-area">
            <nav>
              <ul class="page-numbers d-inline-flex">
                <li>
                  <a class="page-number active" href="">1</a>
                </li>
                <li>
                  <a class="page-number" href="">2</a>
                </li>
                <li>
                  <a class="page-number" href="">3</a>
                </li>
                <li>
                  <a class="page-number next" href="">
                    <i class="icofont-long-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Recent Job Area Wrapper ==-->
</main>

{%endblock%}
